*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inconsolata', monospace;
}
.full-page{
    width: 100%;
    height: 100vh;
}
.satu{
    background-color: #4d4d4d;
    text-align: center;
    overflow-x: hidden;
    /* display: flex; */
    /* align-items: center; */
    /* display: block; */
    position: relative;
}
.border{
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    transform: translateY(-50%);
}
.border img{
    width: 105%;
    transform: translateX(-2.5%);
}
.logo-full{
    max-width: 30%;
}
.logo-big{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    height: 20%;
    transform: translate(-100%, -100%);
}
.logo-big img{
    position: absolute;
    max-width: 100%;
    /* transform: translateX(-50%); */
}
.dua{
    background-color: #fff6d5;
    padding: 20vh 0;
}
.dua .foto{
    width: 80%;
}
.profil{
    display: flex;
    align-items: center;
    height: 100vh;
}
img.logo-kuaci{
    height: 1em;
    margin-bottom: 2em;
}